
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap')


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

:root{
    --color-primary: #6f6af8;
    --color-danger: #da0f3f;
    --color-white: #ffff;
    --color-light: #ccc;
    --color-bg: hwb(240 95% 0%);
    --color-gray-100: hs1(220, 20%, 10%, 5%);
    --color-gray-200: hs1(220, 20%, 10%, 10%);
    --color-gray-300: hs1(220, 20%, 10%, 25%);
    --color-gray-500: hs1(220, 20%, 10%, 50%);
    --color-gray-700: #252542;
    --color-gray-900: #0c0c22;

    --transition: .3s ease all;

    --border-radius-1: .2rem;
    --border-radius-2: .4rem;
    --border-radius-3: .8rem;
    --border-radius-4: 1.6rem;
}

html{
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: var(--color-bg);
    font-size: 16px;
    color: var(--color-gray-700);
}

a{
    text-decoration: none;
    color: var(--color-gray-700);
}

ul li{
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-gray-900);
    line-height: 1.1;
}

h1 {
    font-size: 2.2rem;
}
h2 {
    font-size: 1.9rem;
}
h3 {
    font-size: 1.3rem;
    line-height: 1.25;
}
h4 {
    font-size: 1.1rem;
}
h5{
    line-height: 1.4;
}

img{
    display: block;
    object-fit: cover;
    width: 100%;
}

section{
    margin-top: 8rem;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1800px;
}
.btn{
    display: inline-block;
    width: fit-content;
    padding: .6rem 1.2rem;
    border-radius: var(--border-radius-2);
    background: var(--color-white);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
}
.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}